body {
    background-color: #fffbf5;
    height: 100%;
    padding: 4rem 0;
}

#zwgth h1 {
    padding-top: 0;
    font-family: var( --e-global-typography-ede6ba9-font-family ), Sans-serif;
    color: #e30813;
}

.container-fluid {

}